@charset "utf-8";
/* CSS Document */

/* ====================== Tablet Media ====================== */
@media screen and (min-width: 503px) and (max-width: 999px) {
	.inside #map-container {
		height: 400px;
	}

	#restaurant-address {
		font-size: 18pt;
	}

	#restaurants-list li {
	  max-width: 40%;
	}

	#restaurant-hours td {
		font-size: 17pt;
	}

	.review-comments {
		font-size: 20pt;
	}
}

/* ====================== Tablet Media Portrait ====================== */
@media screen and (min-width: 900px) and (max-width: 1100px) and (max-height: 1000px) {
	.inside #map-container {
		height: 400px;
	}

	#restaurant-address {
		font-size: 18pt;
	}

	#restaurants-list li {
	  max-width: 40%;
	}

	#restaurant-hours td {
		font-size: 15pt;
	}

	.review-comments {
		font-size: 18pt;
	}
	#restaurant-img {
    	width: 60%;
	}
	.review-date {
		font-size: 18pt;
	}
}	

/* ====================== Desktop/Laptop Media ====================== */
@media screen and (min-width: 1050px) {
	ul, li {
		font-size: 16pt;
	}
	.inside #map-container {
		height: 300px;
	}
    #restaurants-list li {
	  max-width: 25%;
	}
    
    .container, .inside {
        margin-left: auto;
		margin-right: auto;
        width: 900px;		
	}
	#restaurant-img {
    	width: 70%;
	}
	#restaurant-hours td {
		font-size: 16pt;
	}
	#restaurant-address {
		font-size: 20pt;
		font-weight: bold;
		background: #fff;
		padding: 3px;
	}
	#restaurant-cuisine, #restaurant-name,  #reviews-container h2 {
		font-size: 25pt;
	}
	#reviews-container {
		width: 75%
	}
	.review-comments {
		font-size: 17pt;
	}
	.review-date {
		font-size: 18pt;
	}
	.review-name {
		font-size: 23pt;
	}
	#footer {
		font-size: 12pt;
	}
}