@charset "utf-8";
/* CSS Document */

@media only screen and (min-device-width: 320px) and (max-device-width: 502px) {
    
    #restaurant-img {
		width: 80%;
	}
    
	.restaurant-info {
		width:100%;		
  }	
    
  .filter-selects {	
		margin: 0px 30px;
	}
	td {
		font-size: 12pt;
	}
}

@media screen and (min-width: 503px) and (max-width: 899px) {

	#restaurants-list li {
	  max-width: 40%;
	}
}

@media screen and (min-width: 900px) {

    #restaurants-list li {
	  max-width: 25%;
	}
    
    .container, .inside {
        margin-left: auto;
		margin-right: auto;
        width: 900px;		
	}		
}